.hangman{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    }
  
  .hangman-drawing{
    stroke: #333;
    stroke-width: 4px;
    fill: none;
    }
  
  .scaffold{
    stroke: #333;
    }
  
  .hidden{
    display: none;
    }
  
  .visible{
    display: block;
    }
  